.profile__add-btn {
  min-width: 150px;
  min-height: 50px;
  border: 2px solid #fff;
  border-radius: 2px;
  box-sizing: border-box;
  background-image: url(../../../images/svg__add-btn-icon.svg);
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;
  cursor: pointer;
  padding: 0;
}

.profile__add-btn:hover {
  opacity: .6;
}

@media screen and (max-width: 450px) {
  .profile__add-btn {
    width: 100%;
    background-size: 16px;
  }
}
