.footer__copyright {
  font-weight: 400;
  font-size: 1.13em;
  /* line-height вычисляла так: 21.78px/18px = 1.21*/
  line-height: 1.21;
  margin: 0;
  padding: 0;
  color: #545454;
}

@media screen and (max-width: 450px) {
  .footer__copyright {
    font-size: 0.88em;
  }
}
