.popup__close-btn {
  align-self: flex-end;
  position: relative;
  bottom: 40px;
  right: -40px;
  width: 32px;
  height: 32px;
  padding: 0;
  background-image: url(../../../images/svg__close-btn-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.popup__close-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  .popup__close-btn {
    bottom: 36px;
    right: 0;
    width: 20px;
    height: 20px;
  }
}
