.profile__editing {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 700px) {
  .profile__editing {
    justify-content: center;
    width: 100%;
  }
}
